<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:fragment="head">
        <meta charset="UTF-8">
        <title>Hello Thymeleaf</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script th:src="@{'js/application.js'}"></script>
        <link rel="stylesheet" th:href="@{css/application.css}">
    </head>
</head>
<body>
<p th:fragment="footer" >
    <span style="color: green">copyright: Amarjeet malik 2019</span>
</p>
</body>
</html>