<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head >
    <style>
        .odd{
            color:red;
        }
    </style>
</head>
<table >
    <thead>
    <td>name</td>
    <td>email</td>
    <td>password</td>
    <td>Admin?</td>
    </thead>
    <th:block th:each="user,i : ${userList}">
        <tr th:class="${i.even}?'odd'">
            <td th:text="*{user.name}">...</td>
            <td th:text="*{user.email}">...</td>
            <td th:text="*{user.password}">...</td>
            <td th:if="*{user.admin}">Hello Admin</td>
            <td th:unless="*{user.admin}">Hello User</td>
        </tr>
    </th:block>
</table>
</body>
</html>