<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Server date/time</title>
    <script language="javascript" src="../js/serverDate.js"></script>
</head>
<script language="javascript">
    $(document).on('click','#gettime',function () {
        timing();
    });
    var timing=function (){var localTime = new Date();
        // console.log(localTime);
        // console.log(date);
        $("#settimeLocal").append("<h5>local time::"+localTime+"</h5>");
        $("#settimeServer").append("<h5>Server time::"+date+"</h5>");
    };
</script>
<body>
<button id="gettime">Get Time</button>
<div id="settimeLocal"></div>
<div id="settimeServer"></div>
</body>
</html>
